{% extends 'index.html' %}
{% load static %}

{% block custom_content %}
{{ block.super }}
<div class="container">
    <h1>userpage</h1>
    <button>he</button>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit assumenda molestias quibusdam! Soluta delectus voluptatibus praesentium tempore voluptas eaque! Aperiam ut distinctio cum fugit ab molestiae cumque repellat eveniet tenetur voluptas impedit sunt commodi, fuga illum tempore mollitia? Minus voluptatum reprehenderit corporis, iure eum dignissimos! Architecto ex modi inventore sed illum. Laborum eos, explicabo veritatis a inventore, velit eveniet accusamus hic sint unde, architecto beatae. Aperiam iste ut ab, cum omnis sunt corporis eveniet laboriosam facilis laborum totam alias! Modi eligendi molestiae earum beatae inventore asperiores incidunt ea id enim ad laudantium, voluptatibus cum, dicta sit atque recusandae numquam. Sit doloribus perspiciatis ipsam, nesciunt quibusdam eius voluptatibus tempora! Blanditiis, vel eos! Iure nostrum tempora, culpa sit libero nemo nesciunt praesentium.</p>
</div>
{% endblock %}