{% extends 'index.html' %}
{% load static %}

{% block custom_content %}
{{ block.super }}
<div class="container">
    <h1>Login</h1>
    <form method="post" action="{% url 'myapp:login' %}">
        {% csrf_token %}
        {% if error_message %}
            <p class="text-danger">{{ error_message }}</p>
        {% endif %}
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}