{% extends 'index.html' %}
{% load static %}

{% block custom_content %}
{{ block.super }}
<div class="container">
    <h2>Students in the selected class</h2>
    <p id="selected_class_label">Classes:</p>
    <form method="GET">
        <select name="classes_to_teach" id="classes_to_teach" class="form-control" style="width: 25%;">
            <option value="" selected disabled>Select a class</option>
            {% for class_name in unique_class_names %}
                <option>{{ class_name }}</option>
            {% endfor %}
        </select>
        <input type="submit" id="selectclass" value="Select" class="btn btn-primary mt-2">
    </form>
    
    <div class="table-responsive mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th id="class">Class</th>
                    <!-- Add more fields as needed -->
                </tr>
            </thead>
            <tbody>
                {% for enrollment in enrollments %}
                    <tr class="class-{{ enrollment.class_enrolled.ClassName|slugify }}">
                        <td>{{ enrollment.student.student_id }}</td>
                        <td>{{ enrollment.student.first_name }}</td>
                        <td>{{ enrollment.student.last_name }}</td>
                        <td>{{ enrollment.student.email }}</td>
                        <td id="class">{{ enrollment.class_enrolled.ClassName }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
